
a {
    text-decoration: none; 
    color: #000000;
}
a:hover {
    background-color: #3B5E34;
    font-style: italic;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
}

a:visited {
}

body {
    font-family: Baskerville, 'Times New Roman', Times, serif;

}

header {
    text-align: center;
}

header img {
    width: 40%;
}

h1 {
    font-weight: 250;
}

nav a {
    width: 50%;
    text-align: center;
    float: left;
    display: block;
    font-size: 1.35em;
    background-color: transparent;

}

nav {
    padding: 0.5em;
    letter-spacing: 2px;

}

.container {
    width: 70%;
    margin: auto;
}

.content {
    margin: 30px 0 0 0;
    display: block;
    padding: 5%;
    border: solid 1px;
    min-width: 200px;
}

.content p {
    display: block;
    float: left;
    width: 49.95%;
    min-width: 200px;
    padding-left: 3%;
    padding-right: 3%;
}

.content a:hover{
    background-color: #3B5E34;
    color: white;
}

.content-part p {
    display: block;
    float: left;
    width: 49.95%;
    min-width: 200px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;

}


.info a {
    color:#92999C;
    text-decoration: underline wavy;
}

.content::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.content img {
    width: 100%;
}

.content a:active{
    font-style: italic bold;
}

hr {
    clear: left; 
    margin-bottom: 5%;
    
}

.grid img {
    width: 31%;
    float: left;
    padding: 1%;
    min-width: 125px;
}

textarea {
    width: 100%;
    height: 80px;
}

video{
    width: 100%;
}

.currentLink {
    font-style: italic;
    font-size: 105%;
    background-color: #3B5E34;
   letter-spacing: 1.5px;
    color: white;

}


form {
    text-align: center;
}

input[value^="Send"] {
    font-family: Baskerville, serif;
}

footer{
    text-align: center;
}

* {
  box-sizing: border-box;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

button {
    font-family: inherit;
}
#myBtn {
  width: 250px;
  font-size: 18px;
  padding: 10px;
  border-radius: 25px;
    border-color: white;
  background: #f1f1f1;
  color: black;
  cursor: pointer;
    font-family: Baskerville, 'Times New Roman', Times, serif;
}

#myBtn:hover {
  background: black;
  color: #f1f1f1;
}

.videoheader a {
    text-decoration: none;
    color: #f1f1f1;
}
.videoheader {
  position: fixed;
  top: 0;
    color: #f1f1f1;
  width: 100%;
  padding: 20px;
    margin-left: -8px;
}


.videoheader h1 {
        text-align: center;


}


.videocontent {
  position: fixed;
  bottom: 60px;
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
    margin-left: -8px;
    text-align: center;
}

.bgImage {
}
