@font-face {
    font-family: 'Classico';
    src: url('fonts/Classico New/Other Font Files/ClassicoBold.woff2') format('woff2'),
        url('fonts/Classico New/Other Font Files/ClassicoBold.woff') format('woff'),
        url('fonts/Classico New/Other Font Files/ClassicoBold.ttf') format('truetype'),
        url('fonts/Classico New/Other Font Files/ClassicoBold.svg#ClassicoBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Classico';
    src: url('fonts/Classico New/Other Font Files/ClassicoRegular.woff2') format('woff2'),
        url('fonts/Classico New/Other Font Files/ClassicoRegular.woff') format('woff'),
        url('fonts/Classico New/Other Font Files/ClassicoRegular.ttf') format('truetype'),
        url('fonts/Classico New/Other Font Files/ClassicoRegular.svg#ClassicoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


a {
    text-decoration: none; 
    color: #000000;
}
a:hover {
    background-color: #3B5E34;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
}

h1, nav, footer {
	font-family: Classico;
}

body {
	line-height: 20px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif", serif;
	/* font-family: Baskerville, serif; */
     
	
}

header {
    text-align: center;
}

header img {
    width: 30%;
}

h1 {
    font-weight: 250;
}

nav a {
    width: 50%;
    text-align: center;
    float: left;
    display: block;
    font-size: 1.35em;

}

nav {
    padding: 0.5em;
    letter-spacing: 2px;

}

nav a:hover {
	letter-spacing: 2px;
}

.currentLink {
    font-size: 102%;
    background-color: #3B5E34;
    color: white;
	font-style: italic;
	letter-spacing: 2px;

}

.container {
    width: 90%;
    margin: auto;
	font-family: Classico;

}

.content {
    margin: 30px 0 0 0;
    display: block;
    padding: 2%;
    border: solid 1px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";

}

.content p {
    min-width: 300px;
    padding: 0 1%; 
}

.content a:hover{
    font-style: italic;
    font-size: 102%;
    background-color: #3B5E34;
    color: white;
}

.flex-container div {
    padding: 0 3%;
    min-width: 250px;

}



.info a {
    color:#92999C;
    text-decoration: underline wavy;
}

.content::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.content img {
    width: 100%;
}

.content {
	font-size: 100%;
}

hr {
    clear: left; 
    margin-bottom: 5%;
    
}

textarea {
    width: 100%;
    height: 80px;
}

video{
    width: 100%;
}

form {
    text-align: center;
}

input[value^="Send"] {
    font-family: Baskerville, serif;
}

footer{
    text-align: center;
}

* {
  box-sizing: border-box;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

button {
    font-family: inherit;
}
#myBtn {
  width: 250px;
  font-size: 18px;
  padding: 10px;
  border-radius: 25px;
    border-color: white;
  background: #f1f1f1;
  color: black;
  cursor: pointer;
font-family: inherit;
}

#myBtn:hover {
  background: black;
  color: #f1f1f1;
}

.videoheader a {
    text-decoration: none;
    color: #f1f1f1;
}
.videoheader {
  position: fixed;
  top: 0;
    color: #f1f1f1;
  width: 100%;
  padding: 20px;
    margin-left: -8px;
}


.videoheader h1 {
        text-align: center;

}


.videocontent {
  position: fixed;
  bottom: 60px;
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
    margin-left: -8px;
    text-align: center;
}


* {
  box-sizing: border-box;
}



/* Responsive layout - makes a one column-layout instead of two-column layout */
@media screen and (min-width: 550px){
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
    
.three-col-item {
  padding: 10px;
  flex: 33%;
    }  
    
.two-col-item {
  padding: 10px;
  flex: 50%;
    }  
    
.four-col-item {
  padding: 0px;
  flex: 25%; 
    }
    
}
